<!DOCTYPE html>
<html lang="en">
  <head style="background-color: #c9b34d;>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CRUD Node.js</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet" ">
    
 
  </head>
  <body class="bg-gray-200" style="background-color:#745498;">

    <nav class="flex py-5 bg-green-500 text-white px-24" style="background-color: #4f286c;">
      <div class="w-1/2 px-12 mr-auto">
        <p class="text-2xl font-bold" style="font-family:'Fascinate', cursive; size: 25px; background-color:#403456" ><a href="localhost:4000">YU-GI-OH!</a></p>
        <hr size="10px">
      </div>

      <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
        <li class="nav-item px-4">
          <a href="/tasks" class="nav-link font-semibold hover:bg-green-700 py-3 px-4 rounded-md" style="font-family:'Fascinate', cursive; size: 25px; background-color: #cf433d; color:#ffd81c">Mi Deck</a>
        </li>

        <li class="nav-item px-4">
          <a href="/create" class="nav-link font-semibold border-2 border-white hover:text-green-700 
            hover:bg-white py-3 px-4 rounded-md" style="font-family:'Fascinate', cursive; size: 25px; background-color: #cf433d; border-color: #483e3f; color:#ffd81c">Añadir Cartas</a>
        </li>
      </ul>
    </nav>
    <!-- Document body -->

    {{{body}}}


  </body>
</html>